<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.tb.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.tb.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.tb.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tb.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.tb.adminlogin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>com.tb.adminservlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductionAddServlet</servlet-name>
    <servlet-class>com.tb.adminservlet.ProductionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductionListServlet</servlet-name>
    <servlet-class>com.tb.adminservlet.ProductionListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductionDeleteServlet</servlet-name>
    <servlet-class>com.tb.adminservlet.ProductionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductionModifyServlet</servlet-name>
    <servlet-class>com.tb.adminservlet.ProductionModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductListIndex</servlet-name>
    <servlet-class>com.tb.servlet.ProductListIndex</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.tb.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.tb.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.tb.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.tb.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCartcuidServlet</servlet-name>
    <servlet-class>com.tb.servlet.DeleteCartcuidServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateNumServlet</servlet-name>
    <servlet-class>com.tb.servlet.UpdateNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.tb.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuccessOrderServlet</servlet-name>
    <servlet-class>com.tb.servlet.SuccessOrderServlet</servlet-class>
  </servlet>


















<filter>
  <filter-name>adminFilter</filter-name>
  <filter-class>com.tb.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>adminFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminlogin/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionAddServlet</servlet-name>
    <url-pattern>/admin/productionadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionListServlet</servlet-name>
    <url-pattern>/admin/productionlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionDeleteServlet</servlet-name>
    <url-pattern>/admin/productiondelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionModifyServlet</servlet-name>
    <url-pattern>/admin/productionmodify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListIndex</servlet-name>
    <url-pattern>/productlistindex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/showcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/deletecart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartcuidServlet</servlet-name>
    <url-pattern>/deletecartcuid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNumServlet</servlet-name>
    <url-pattern>/updatenum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuccessOrderServlet</servlet-name>
    <url-pattern>/successorder</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>
